@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

* {
 box-sizing: border-box;
}
:root {
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
}
  
.container-img {
  width: 50px;;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

img {
  --brightness: 0.75;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  flex: 1;
}

img:hover {
  --brightness: 1.15;
  flex: var(--magnifier);
}