.content{
    display: flex;
}
#completeOrder{

    
}

.container {
    text-align: center;

}

.counter {
    font-size: 48px;
    font-weight: bold;
    color: #4caf50;
   /* border: 2px solid #4caf50;*/
    border-radius: 5px;
    padding: 20px 40px;
    display: inline-block;
    /*    animation: incrementAnimation 10s linear infinite;*/
}


@keyframes incrementAnimation {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.2);
    }
}
