.ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .container{
    margin: auto;
    width: 50%;
    border: 3px solid rgba(0, 0, 0, 0.97);
    padding: 10px;
  }
  .bg1{
    color: black;
  }

  .body {
    background-color: #0855ae;
}
 
  
  .container{
    text-align: center;
    border: 3px solid rgba(0, 128, 0, 0);
  }
  .container {
    padding: 225px 0;
    border: 3px solid rgb(0, 128, 0, 0, 0);
  }
  .ellipsis div {
    position: absolute;
    top: 66px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000000;
    animation-timing-function: linear;
  }
  .ellipsis div:nth-child(1) {
    left: 8px;
    animation: ellipsis1 0.6s infinite;
  }
  
  @keyframes ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .ellipsis div:nth-child(4) {
    left: 56px;
    animation: ellipsis4 0.6s infinite;
  }
  
  @keyframes ellipsis4 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  .ellipsis div:nth-child(2) {
    left: 8px;
    animation: ellipsis2 0.6s infinite;
  }
  
  .ellipsis div:nth-child(3) {
    left: 32px;
    animation: ellipsis2 0.6s infinite;
  }
  @keyframes ellipsis2 {
    0% {
      transform: translate(0,0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }